html(lang="de")
    head
        title #{config.short}
        meta(charset="UTF-8")
        meta(name="keywords", content=`${config.title}, ${config.short}`)
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div.container
            div.content
                a(href='/index.html')
                    img(src=require("./graphics/logo/fullName/logo_textAsPath.svg"), alt="Logo").logo
                block content
            div.footer
                include ./footer.pug
