mixin collapsible(heading, content)
    div.collapsible
        span.d-inline
            h1.d-inline-block.toggle +
        span.d-none
            h1.d-inline-block.toggle &ndash;
        h1.d-inline #{heading}
        div.d-none
            block
