div
    | Diese Website erhebt keine Personenbezogen Daten und verwendet keine Cookies &ndash; 
    a(href="https://github.com/Bierball-Club-Potsdam/website") Link zum Quelltext
    | .
    br
    | Wir nutzen GitHub Pages zum Hosten der Webseite &ndash; 
    a(href="https://docs.github.com/en/github/site-policy/github-privacy-statement#github-pages") Link zum Privacy Statement
    | .
    br
    | Da diese Webseite keine geschäftsmäßigen Dienste im Sinne des 
    a(href="https://www.gesetze-im-internet.de/tmg/__5.html") TMG §5
    |  bewirbt, verzichten wir auf die Angabe eines Impressums.
div
    | This website does not collect personal information or use cookies &ndash; 
    a(href="https://github.com/Bierball-Club-Potsdam/website") link to source code
    | .
    br
    | We use GitHub Pages for hosting &ndash; 
    a(href="https://docs.github.com/en/github/site-policy/github-privacy-statement#github-pages") link to privacy statement
    | .
div
    | Kontakt / Contact: 
    - const mail = "mail.show('admin', 'bierball.club', 'mail')";
    a(id='mail', onmouseover=mail) [Berühren zum Anzeigen / hover to show]
