:root {
    --background: #eee;
    --text: #111;
    --footer-text: #555;
    --heading: #333;
    --link: #337;
    --visited-link: #337;
    --body-margin: 2em;
    --content-margin-vertical: 1em;
    --content-margin-horizontal: 2em;
}

@font-face {
    font-family: 'Roboto';
    src: url(~fonts/Roboto-Regular.eot) format('eot');
    src: url(~fonts/Roboto-Regular.ttf) format('ttf');
    src: url(~fonts/Roboto-Regular.woff) format('woff');
    src: url(~fonts/Roboto-Regular.woff2) format('woff2');
}

body {
    font-family: 'Roboto';
    max-width: 60em;
    margin: auto;
    margin-top: var(--body-margin);
    margin-bottom: var(--body-margin);
    background-color: var(--background);
    color: var(--text);
    overflow-y: scroll;
}

a:visited {
    color: var(--visited-link);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
}

h1 {
    font-size: 1.5em;
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.collapsible h1 {
    cursor: pointer;
}

.collapsible {
    margin: var(--content-margin-vertical) 0;
}

.toggle {
    min-width: 2ch;
    margin-block: 0px;
}

.logo {
    min-width: 150px;
    width: 25%;
    display: flex;
    margin: auto;
    margin-bottom: 2em;
}

.section {
    border-bottom: 1px solid black;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin: var(--content-margin-vertical) var(--content-margin-horizontal);
    flex-grow: 1;
}

.footer {
    margin: 0 var(--content-margin-horizontal);
    padding-bottom: var(--content-margin-vertical);
    font-size: small;
    color: var(--footer-text);
}

.footer div {
    padding-top: var(--content-margin-vertical);
}
