:root {
    --background: #ddd;
    --text: #111;
    --heading: #333;
    --link: #337;
    --visited-link: #337;
}

@font-face {
    font-family: 'Roboto';
    src: url(~fonts/Roboto-Regular.eot) format('eot');
    src: url(~fonts/Roboto-Regular.ttf) format('ttf');
    src: url(~fonts/Roboto-Regular.woff) format('woff');
    src: url(~fonts/Roboto-Regular.woff2) format('woff2');
}

body {
    font-family: 'Roboto';
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--background);
    color: var(--text);
    overflow-y: scroll;
}

a:visited {
    color: var(--visited-link);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.collapsible h1 {
    cursor: pointer;
}

.toggle {
    min-width: 2ch;
    width: 2ch;
    margin-block: 0px;
}
