extends partials/base.pug

block content
    div
        h1 Impressum
        //| Kontakt / Contact: 
        //- const mail = "mail.show('admin', 'bierball.club', 'mail')";
        //a(id='mail', onmouseover=mail) [Berühren zum Anzeigen / hover to show]

        | Anschrift
        br
        | Bierball-Club Potsdam e.V.
        br
        | c/o Hendrik Rätz
        br
        | Altes Bahnwerk 4
        br
        | 14473 Postdam
        br
        br
        | E-Mail: 
        - const mail = "mail.show('kontakt', 'bierball.club', 'mail')";
        a(id='mail', onmouseover=mail) [Berühren zum Anzeigen / hover to show]
        br
        | Telefon: 
        - const phone = "mail.showPhone('0160 99513829', 'phone')";
        a(id='phone', onmouseover=phone) [Berühren zum Anzeigen / hover to show]
        br
        br
        | Vertreten durch:
        br
        | Hendrik Rätz
        br
        | E-Mail: 
        - const maily = "mail.show('kontakt', 'bierball.club', 'maily')";
        a(id='maily', onmouseover=maily) [Berühren zum Anzeigen / hover to show]
        br
        br
        | Registergericht: Amtsgericht Potsdam
        br
        | Registernummer: VR 9360 P
    div
        h1 Haftungsbeschränkung
        p Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers.
        
        p Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande.

    div
        h1 Externe Links
        p Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.

    div
        h1 Urheber- und Leistungsschutzrechte
        p Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt. Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.
        
    div
        h1 Privatsphäre
        | Diese Website erhebt keine Personenbezogen Daten und verwendet keine Cookies &ndash; 
        a(href="https://github.com/Bierball-Club-Potsdam/website") Link zum Quelltext
        | .
        br
        | Wir nutzen GitHub Pages zum Hosten der Webseite &ndash; 
        a(href="https://docs.github.com/en/github/site-policy/github-privacy-statement#github-pages") Link zum Privacy Statement
        | .
    div
        h1 Privacy Statement
        | This website does not collect personal information or use cookies &ndash; 
        a(href="https://github.com/Bierball-Club-Potsdam/website") link to source code
        | .
        br
        | We use GitHub Pages for hosting &ndash; 
        a(href="https://docs.github.com/en/github/site-policy/github-privacy-statement#github-pages") link to privacy statement
        | .

