extends partials/base.pug
include partials/collapsible.pug

block content
    div.section
        h1 #{config.title}
        p Der #{config.title} ist ein Bierballclub aus Potsdam. Unser Ziel ist es, Bierball vom Stigma eines Trinkspiels zu befreien und stattdessen als professioniellen Mannschaftssport zu etablieren.

        - const mail = "mail.show('kontakt', 'bierball.club', 'mail')";
        div Für Informationen zum Verein oder zum Erwerb einer Mitgliedschaft könnt ihr uns gerne unter folgendener E-Mail-Adresse kontaktieren: 
            a(id='mail', onmouseover=mail) [Berühren zum Anzeigen / hover to show]

        p Falls ihr nicht aus Potsdam seid, aber trotzdem einem Bierballverein (oder Flunky-Ball-Verein) angehören wollt, gründet doch einfach euren eigenen. Ihr braucht lediglich sieben Gründungsmitglieder und ca. 100&thinsp;€ für die Eintragung. Wenn ihr dabei Hilfe braucht, könnt ihr uns gerne unter der oben angegebenen E-Mail-Adresse kontaktieren.

        | Instagram: 
        a(href="https://www.instagram.com/bbcpotsdam/") bbcpotsdam
        p

    div.section
        +collapsible("Vereinfachte Spielregeln")
            !=require("./docs/Spielregeln_kurz.md")
            div Vom BBC Potsdam e.V. wird der originale Bierball-Ball, gemäß der  
                a(href="/ball.html") Konstruktionsanleitung
                |, empfohlen. 

    div.section
        +collapsible("Spielregeln")
            !=require("./docs/Spielregeln.md")
    div.section
        +collapsible("Vereinssatzung")
            !=require("./docs/Satzung.md")
