extends partials/base.pug

block content
    div.section
        h1 Turnier
        p 
            Der Bierball-Club Potsdam e.V. veranstaltet am 
            strong 16.10. 
            | ein Bierball- bzw. Flunky-Ball-Turnier auf der Wiese hinter dem HPI. Los geht's um 
            strong 15:00.

        p 
            Wenn ihr mitmachen wollt, dann meldet euch alleine oder zu zweit an, indem ihr bis zum 
            strong 09.10.  
            | eine Mail an 
            strong turnier@bierball.club 
            |schreibt. Teilt uns dazu bitte, die Namen der Teilnehmenden, deren E-Mail-Adressen mit.
        | Wenn ihr euch alleine anmeldet, werden wir euch am Turniertag einer weiteren Person zulosen.
        | Da diese Turnier ein Testlauf wird, werden wir das Teilnehmerfeld auf Studierende des HPIs beschränken. Externe Personen werden spätestens beim nächsten Turnier die Möglichkeit haben teilzunehmen.

        p Um das Turnier und vor allem die Getränke zu finanzieren, wird jede Person ein Startgeld zahlen müssen. Den konkreten Betrag werden wir abhängig von der Teilnehmeranzahl und dem Turniermodus machen. Die Kosten werden sich auf maximal 5€ p.P. belaufen, vermutlich aber geringer ausfallen.

        span Falls euch die Bierball-Regeln nicht geläufig sind, könnt ihr diese 
        a(href='/index.html') hier 
        | nachschauen.

        p Konkrete Infos zu Teilnahmegebühren und Turniermodus werden wir allen Teilnehmenden nach Registrierungsschluss per Mail mitteilen. Außerdem werden alle Informationen auch auf dieser Seite zu finden sein.
        p Obwohl die Sportart "Bierball" heißt, werden auch alkoholfreie Getränke gestellt, die zum Spielen verwendet werden können.

